<!DOCTYPE html>
<html>
<head>
    <title>Ext JS 3 examples</title>
    <link href="http://cdn.sencha.io/ext-3.4.0/resources/css/ext-all.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://cdn.sencha.io/ext-3.4.0/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="http://cdn.sencha.io/ext-3.4.0/ext-all.js"></script>
    
    <link rel="Stylesheet" type="text/css" href="http://cdn.sencha.io/ext-3.4.0/examples/ux/fileuploadfield/css/fileuploadfield.css" />
    <script type="text/javascript" src="http://cdn.sencha.io/ext-3.4.0/examples/ux/fileuploadfield/FileUploadField.js"></script>

    <link href="@Url.Content("~/resources/css/demo.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/directapi")"></script>
    <script type="text/javascript" src="@Url.Content("~/app/extjs3/ContactGrid.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app/extjs3/ContactForm.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app/extjs3/BasicTree.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app/extjs3/FileForm.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app/extjs3/app.js")"></script>
</head>
<body>
    <div>
        <h1>Basic Demo</h1>
        <p>Click the button below to call a direct function and pass a string, a date and a Contact object.</p>
        <p><button id="basicBtn">Click me</button></p>
        <p id="basicEchoedData"></p>
        <p>Click the button below to call a direct function that throws an exception on the server.</p>
        <p><button id="exceptionBtn">Throw a server-side exception</button></p>
    </div>
    <br/>
    <div>
        <h1>Grid Demo</h1>
        <p>Ext.grid.Panel with remote paging. This grid uses Ext.data.proxy.Direct to fetch data.</p>
        <p id="gridCt"></p>
    </div>
    <br/>
    <div>
        <h1>Form Demo</h1>
        <p id="formCt"></p>
    </div>
    <br/>
    <div>
        <h1>Tree Demo</h1>
        <p>Ext.tree.TreePanel with remote loading. This tree uses Ext.tree.TreeLoader with directFn configured.</p>
        <p id="treeCt"></p>
    </div>
    <br/>
    <div>
        <h1>File Upload Demo</h1>
        <p id="fileFormCt"></p>
    </div>
</body>
</html>
