<!DOCTYPE html>
<html>
<head>
    <title>Using Ext.Direct.Mvc with Sencha Touch 2</title>
    <link href="@Url.Content("~/Scripts/sencha-touch-2/sencha-touch.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/sencha-touch-2/sencha-touch-all-debug.js")"></script>
    <link href="@Url.Content("~/resources/css/app.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/ExtDirect/Api")"></script>
    <script type="text/javascript" src="@Url.Content("~/app/touch/app.js")"></script>
</head>
<body style="overflow: hidden;">
</body>
</html>
